@model IEnumerable<UI.Models.MClient>

@{
    ViewBag.Title = "ProfileAdmin";
}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>ZakazOK</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="@Url.Action("AdminView", "Home")">
            <img src="http://www.sclance.com/pngs/shop-png/shop_png_1237086.png" width="50" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("AdminView", "Home")"><h1><b>ZakazOK</b></h1><span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Все товары</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Boots", "Home")">Кроссовки</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Bags", "Home")">Рюкзаки</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Hat", "Home")">Кепки</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link"><h3>Admins Profile</h3></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Выйти</a>
                </li>
            </ul>
        </div>
    </nav>
    <p><h3>Statistics</h3></p>
    <table class="table">
        <tr>
            <th>
                Stats
            </th>
        </tr>

        @foreach (var item in ViewBag.Statistic)
        {
            <tr>
                <td>
                    @item.ToString()
                </td>
            </tr>
        }

    </table>
    <p><h3>Manage with users</h3></p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.Clients)
        {
            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Parol
                </td>
                <td>
                    @item.Money
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <p><h3>Manage with Managers</h3></p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parol)
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.Managers)
        {
            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Parol
                </td>
                <td>
                    @Html.ActionLink("Delete", "MDelete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</body>